
@{
    ViewBag.Title = "Lỗi tra cứu dữ liệu";
}

<div>
    <h2 style="text-align: center; color: #ffc002; margin-top: 50px; font-family: Arial,Helvetica,sans-serif; ">Sorry, File Not Found!</h2>
</div>

