<footer class="main-footer">
    <div id="myContact" style="text-align: center; font-weight:bold; color: #3c8dbc; font-size: 15px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
        Project Management &copy; 2023 | Version 1.0.0
    </div>
</footer>


